<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link href="static/news.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <title>WNY News Headline Aggregator</title>
  </head>

  <body>
    <!-- Header -->
    <div class="bg-primary p-5">
        <div class="container text-white">
            <h1 class="display-4 text-center">WNY News Headlines</h1>
            <br>
            <p class="lead text-center">Last Updated {% now "jS F Y H:i" %}</p>
            <p class="lead text-center">Sunrise: {{ sunrise }} | Sunset: {{ sunset }}</p>
            <p class="lead text-center"><a href="https://forecast.weather.gov/MapClick.php?CityName=East+Amherst&state=NY&site=BUF&lat=43.0408&lon=-78.7005"  style="color: #ffffff"">Weather Forecast</a>: {{ weather }}</p>
        </div>
    </div>
    <!-- Header -->

<div class="container">
  <div class="row">
    <div class="col-6">
      <!-- Left Column -->

    <!-- Buffalo News -->
    <div class="container d-block pt-5">
      <h2><a href="http://buffalonews.com"  target="_blank" class="text-decoration-none text-success">Buffalo News</a>:</h2>
        {% if buffalo_news %}
            {% for value in buffalo_news %}
                <div class="d-flex">
                 <h5 class="card-title">
                  <li><a href="https://buffalonews.com{{ value.url }}" target="_blank" class="text-decoration-none text-dark">{{ value.title }}</a>
                 </h5>
                </div>
            {% endfor %}
        {% else %}
            <p class="lead">Buffalo News Barfed! Something broke!</p>
        {% endif %}
    </div>
    <!-- Buffalo News -->

    <!-- Buffalo Business First -->
    <div class="container d-block pt-5">
      <h2><a href="https://www.bizjournals.com/buffalo" target="_blank" class="text-decoration-none text-success">Buffalo Business First</a>: </h2>
        {% if biz_news %}
            {% for value in biz_news %}
                <div class="d-flex">
                 <h5 class="card-title">
                  <li><a href="{{ value.url }}" target="_blank" class="text-decoration-none text-dark">{{ value.title }}</a>
                 </h5>
                </div>
            {% endfor %}
        {% else %}
            <p class="lead">Buffalo Business First News Barfed! Something broke!</p>
        {% endif %}
    </div>
    <!-- Buffalo Business First -->

    <!-- Buffalo Rising -->
    <div class="container d-block pt-5">
      <h2><a href="https://www.buffalorising.com/" target="_blank" class="text-decoration-none text-success">Buffalo Rising</a>: </h2>
        {% if buffalorising_news %}
            {% for value in buffalorising_news %}
                <div class="d-flex">
                 <h5 class="card-title">
                  <li><a href="{{ value.url }}" target="_blank" class="text-decoration-none text-dark">{{ value.title }}</a>
                 </h5>
                </div>
            {% endfor %}
        {% else %}
            <p class="lead">Toronto Barfed! Something broke!</p>
        {% endif %}
    </div>
    <!-- Buffalo Rising -->

    <!-- ArtVoice -->
    <div class="container d-block pt-5">
      <h2><a href="https://www.artvoice.com/" target="_blank" class="text-decoration-none text-success">Art Voice</a>: </h2>
        {% if artvoice_news %}
            {% for value in artvoice_news %}
                <div class="d-flex">
                 <h5 class="card-title">
                  <li><a href="{{ value.url }}" target="_blank" class="text-decoration-none text-dark">{{ value.title }}</a>
                 </h5>
                </div>
            {% endfor %}
        {% else %}
            <p class="lead">Artvoice! Barfed! Something broke!</p>
        {% endif %}
    </div>
    <!-- ArtVoice -->

    <!-- Jamestown News -->
    <div class="container d-block pt-5">
      <h2><a href="https://www.post-journal.com/" target="_blank" class="text-decoration-none text-success">Jamestown Post-Journal</a>: </h2>
        {% if jamestown_news %}
            {% for value in jamestown_news %}
                <div class="d-flex">
                 <h5 class="card-title">
                  <li><a href="{{ value.url }}" target="_blank" class="text-decoration-none text-dark">{{ value.title }}</a>
                 </h5>
                </div>
            {% endfor %}
        {% else %}
            <p class="lead">Something broke!</p>
        {% endif %}
    </div>
    <!-- Jamestown News -->


    <!-- Batavia News -->
    <div class="container d-block pt-5">
      <h2><a href="https://www.thedailynewsonline.com/" target="_blank" class="text-decoration-none text-success">Batavia Daily News</a>: </h2>
        {% if batavia_news %}
            {% for value in batavia_news %}
                <div class="d-flex">
                 <h5 class="card-title">
                  <li><a href="https://www.thedailynewsonline.com{{ value.url }}" target="_blank" class="text-decoration-none text-dark">{{ value.title }}</a>
                 </h5>
                </div>
            {% endfor %}
        {% else %}
            <p class="lead">Something broke!</p>
        {% endif %}
    </div>
    <!-- Batavia News -->

    <!-- NYTimes News -->
    <div class="container d-block pt-5">
      <h2><a href="https://www.nytimes.com/section/nyregion" target="_blank" class="text-decoration-none text-success">NY Times - NY Region</a>: </h2>
        {% if nytimes_news %}
            {% for value in nytimes_news %}
                <div class="d-flex">
                 <h5 class="card-title">
                  <li><a href="{{ value.url }}" target="_blank" class="text-decoration-none text-dark">{{ value.title }}</a>
                 </h5>
                </div>
            {% endfor %}
        {% else %}
            <p class="lead">Something broke!</p>
        {% endif %}
    </div>
    <!-- NY Times News -->

    <!-- Toronto Star -->
    <div class="container d-block pt-5">
      <h2><a href="https://www.thestar.com/" target="_blank" class="text-decoration-none text-success">The Toronto Star</a>: </h2>
        {% if toronto_news %}
            {% for value in toronto_news %}
                <div class="d-flex">
                 <h5 class="card-title">
                  <li><a href="{{ value.url }}" target="_blank" class="text-decoration-none text-dark">{{ value.title }}</a>
                 </h5>
                </div>
            {% endfor %}
        {% else %}
            <p class="lead">Toronto Barfed! Something broke!</p>
        {% endif %}
    </div>
    <!-- Toronto Star -->

    <!-- History -->
    <div class="container d-block pt-5">
      <h2><a href="http://news.bbc.co.uk/onthisday/default.stm" target="_blank" class="text-decoration-none text-success">On This Day In History</a>: </h2>
        {% if history_news %}
            {% for value in history_news %}
                <div class="d-flex">
                 <h5 class="card-title">
                  <li><a href="{{ value.url }}" target="_blank" class="text-decoration-none text-dark">{{ value.title }}</a>
                 </h5>
                </div>
            {% endfor %}
        {% else %}
            <p class="lead">History Barfed! Something broke!</p>
        {% endif %}
    </div>
    <!-- History -->





      <!---------- Left Column Ends Here ---------->

    </div>
    <div class="col-6">

      <!---------- Right Column ---------->

    <!-- WGRZ Channel 2 News -->
    <div class="container d-block pt-5">
      <h2><a href="https://wgrz.com" target="_blank" class="text-decoration-none text-success">WGRZ</a>: </h2>
        {% if wgrz_news %}
            {% for value in wgrz_news %}
                <div class="d-flex">
                 <h5 class="card-title">
                  <li><a href="{{ value.url }}" target="_blank" class="text-decoration-none text-dark">{{ value.title }}</a>
                 </h5>
                </div>
            {% endfor %}
        {% else %}
            <p class="lead">Something broke!</p>
        {% endif %}
    </div>
    <!-- WGRZ Channel 2 News -->

    <!-- WIVB Channel 7 News -->
    <div class="container d-block pt-5">
      <h2><a href="https://wivb.com" target="_blank" class="text-decoration-none text-success">WIVB</a>: </h2>
        {% if wivb_news %}
            {% for value in wivb_news %}
                <div class="d-flex">
                 <h5 class="card-title">
                  <li><a href="{{ value.url }}" target="_blank" class="text-decoration-none text-dark">{{ value.title }}</a>
                 </h5>
                </div>
            {% endfor %}
        {% else %}
            <p class="lead">Something broke!</p>
        {% endif %}
    </div>
    <!-- WIVB Channel 4 News -->

    <!-- WKBW Channel 7 News -->
    <div class="container d-block pt-5">
      <h2><a href="https://wkbw.com" target="_blank" class="text-decoration-none text-success">WKBW</a>: </h2>
        {% if wkbw_news %}
            {% for value in wkbw_news %}
                <div class="d-flex">
                 <h5 class="card-title">
                  <li><a href="{{ value.url }}" target="_blank" class="text-decoration-none text-dark">{{ value.title }}</a>
                 </h5>
                </div>
            {% endfor %}
        {% else %}
            <p class="lead">WKBW headlines are failing!</p>
        {% endif %}
    </div>
    <!-- WKBW Channel 7 News -->

    <!-- Reddit Buffalo -->
    <div class="container d-block pt-5">
      <h2><a href="https://reddit.com/r/buffalo" target="_blank" class="text-decoration-none text-success">Reddit Buffalo</a>: </h2>
        {% if reddit_news %}
            {% for value in reddit_news %}
                <div class="d-flex">
                 <h5 class="card-title">
                  <li><a href="{{ value.url }}" target="_blank" class="text-decoration-none text-dark">{{ value.title }}</a>
                 </h5>
                </div>
            {% endfor %}
        {% else %}
            <p class="lead">Reddit News Barfed! Something broke!</p>
        {% endif %}
    </div>
    <!-- Reddit Buffalo -->

    <!-- WBFO -->
    <div class="container d-block pt-5">
      <h2><a href="https://wbfo.org" target="_blank" class="text-decoration-none text-success">WBFO</a>: </h2>
        {% if wbfo_news %}
            {% for value in wbfo_news %}
                <div class="d-flex">
                 <h5 class="card-title">
                  <li><a href="{{ value.url }}" target="_blank" class="text-decoration-none text-dark">{{ value.title }}</a>
                 </h5>
                </div>
            {% endfor %}
        {% else %}
            <p class="lead">WBFO failed!</p>
        {% endif %}
    </div>
    <!-- WBFO -->


    <!-- Niagara Falls News -->
    <div class="container d-block pt-5">
      <h2><a href="https://www.niagara-gazette.com/" target="_blank" class="text-decoration-none text-success">Niagara Gazette</a>: </h2>
        {% if ni_news %}
            {% for value in ni_news %}
                <div class="d-flex">
                 <h5 class="card-title">
                  <li><a href="https://www.niagara-gazette.com{{ value.url }}" target="_blank" class="text-decoration-none text-dark">{{ value.title }}</a>
                 </h5>
                </div>
            {% endfor %}
        {% else %}
            <p class="lead">Something broke!</p>
        {% endif %}
    </div>
    <!-- Niagara Falls News -->


    <!-- Olean News -->
    <div class="container d-block pt-5">
      <h2><a href="https://www.oleantimesherald.com/" target="_blank" class="text-decoration-none text-success">Olean Times Herald</a>: </h2>
        {% if olean_news %}
            {% for value in olean_news %}
                <div class="d-flex">
                 <h5 class="card-title">
                  <li><a href="https://www.oleantimesherald.com{{ value.url }}" target="_blank" class="text-decoration-none text-dark">{{ value.title }}</a>
                 </h5>
                </div>
            {% endfor %}
        {% else %}
            <p class="lead">Something broke!</p>
        {% endif %}
    </div>
    <!-- Olean News -->

    <!-- Rochester News -->
    <div class="container d-block pt-5">
      <h2><a href="https://www.democratandchronicle.com/" target="_blank" class="text-decoration-none text-success">Rochester Democract & Chronicle</a>: </h2>
        {% if rochester_news %}
            {% for value in rochester_news %}
                <div class="d-flex">
                 <h5 class="card-title">
                  <li><a href="{{ value.url }}" target="_blank" class="text-decoration-none text-dark">{{ value.title }}</a>
                 </h5>
                </div>
            {% endfor %}
        {% else %}
            <p class="lead">Something broke!</p>
        {% endif %}
    </div>
    <!-- Rochester News -->



    <!-- CNBC -->
    <div class="container d-block pt-5">
      <h2><a href="https://cnbc.com/" target="_blank" class="text-decoration-none text-success">CNBC Economy</a>: </h2>
        {% if cnbc_news %}
            {% for value in cnbc_news %}
                <div class="d-flex">
                 <h5 class="card-title">
                  <li><a href="{{ value.url }}" target="_blank" class="text-decoration-none text-dark">{{ value.title }}</a>
                 </h5>
                </div>
            {% endfor %}
        {% else %}
            <p class="lead">CNBC Barfed! Something broke!</p>
        {% endif %}
    </div>
    <!-- CNBC -->

    <!-- Axios -->
    <div class="container d-block pt-5">
      <h2><a href="https://axios.com" target="_blank" class="text-decoration-none text-success">Axios</a>: </h2>
        {% if axios_news %}
            {% for value in axios_news %}
                <div class="d-flex">
                 <h5 class="card-title">
                  <li><a href="{{ value.url }}" target="_blank" class="text-decoration-none text-dark">{{ value.title }}</a>
                 </h5>
                </div>
            {% endfor %}
        {% else %}
            <p class="lead">History Barfed! Something broke!</p>
        {% endif %}
    </div>
    <!-- Axios -->

    <!-- The Verge -->
    <div class="container d-block pt-5">
      <h2><a href="https://theverge.com/" target="_blank" class="text-decoration-none text-success">The Verge</a>: </h2>
        {% if theverge_news %}
            {% for value in theverge_news %}
                <div class="d-flex">
                 <h5 class="card-title">
                  <li><a href="{{ value.url }}" target="_blank" class="text-decoration-none text-dark">{{ value.title }}</a>
                 </h5>
                </div>
            {% endfor %}
        {% else %}
            <p class="lead">The Verge Barfed! Something broke!</p>
        {% endif %}
    </div>
    <!-- The Verge -->


    </div>
    </div>
  </div>
</div>

    <!-- Footer -->
    <footer class="text-end p-5">
        <small class="text-muted"><a href="./static/about.html">About this site</a></small>
    </footer>
    <!-- Footer -->

  </body>
</html>
